@mixin desktop {
    @media (max-width: 1200px){
        @content;
    }
}
@mixin laptop {
    @media (max-width: 1024px){
        @content;
    }
}
@mixin tab {
    @media (max-width: 768px){
        @content;
    }
}
@mixin mobile {
    @media (max-width: 480px){
        @content;
    }
}